
*.pyc

*checkpoint.ipynb
.ipynb_checkpoints/*
*.ipynb_checkpoints*

Paper-Joss

*.mp4
*.h5
build/*
egg-info.*
*.xmf

www/*
*/build/*
*/dist/*
*/quagmire.egg-info/*

## These should be downloaded if required

quagmire/Examples/data/ETOPO.npz
quagmire/Examples/data/ETOPO1_Ice_c_geotiff.tif

.jupyter
.ipython
.local
.cache
.bash_history
