
*.pyc

*checkpoint.ipynb
.ipynb_checkpoints/*
*.ipynb_checkpoints*

Paper-Theory
Paper-JOSS

*.mp4
*.h5
build/*
egg-info.*
*.xmf

www/*
*/build/*
*/dist/*
*/quagmire.egg-info/*

## These should be downloaded if required

quagmire/Examples/data/ETOPO.npz
quagmire/Examples/data/ETOPO1_Ice_c_geotiff.tif

.jupyter
.ipython
.local
.cache
.bash_history

/.eggs/
/.idea/
/.vscode/
/.config/
/.spyproject/
/fortran/


/quagmire/_fortran.cpython-37m-darwin.so.dSYM
/quagmire/Examples/Scripts/control.html
/quagmire/_fortran.cpython-37m-darwin.so
/quagmire/_fortran.cpython-38-darwin.so
/quagmire.egg-info/

Notebooks/.ipython
Notebooks/.local

/.pytest_cache/

__pycache__

src/_fortranmodule.c
