include README.md
include MANIFEST.in
include COPYING
include COPYING.LESSER
include setup.cfg
include quagmire/fortran/*
recursive-include quagmire/*.py
include assets/*
include tests/*.py
include Notebooks/*
